@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.fa {
  color: #fff;
}

.searchContainer {
  font-size: 27px;
}

@media (min-width: 300px) {
  .logoImg {
    width: 100px;
    margin-left: 65px;
  }
  .lineGraph {
    width: 300px;
  }
  .graphDiv {
    width: 85%;
  }
}

@media (min-width: 340px) {
  .logoImg {
    width: 100px;
    margin-left: 73px;
  }
  .lineGraph {
    width: 360px;
  }
}

@media (min-width: 400px) {
  .logoImg {
    width: 100px;
    margin-left: 82px;
  }
}

@media (min-width: 600px) {
  .logoImg {
    width: 130px;
    margin-left: 150px;
  }
  .lineGraph {
    width: 550px;
  }
  .graphDiv {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  input,
  select,
  textarea {
    font-size: 16px;
  }
}

@media (min-width: 900px) {
  .lineGraph {
    width: 810px;
  }
}

@media (min-width: 1000px) {
  .logoImg {
    width: 130px;
    margin-left: 200px;
  }
  .graphDiv {
    width: 70%;
  }
}

@media (min-width: 1030px) {
  .logoImg {
    width: 140px;
    margin-left: 0px;
  }
  .graphDiv {
    width: 42%;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  max-width: 100%;
  background-color: rgb(40, 47, 51);

  overflow-x: hidden; /* Hide horizontal scrollbar */
}

html {
  background-color: rgb(27, 29, 30);
  max-width: 100%;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
